textarea {
  resize: none;
}

* {
  font-family: 'Kanit', sans-serif;
}

.main-page {
  display: block;
  margin: 0 60px;
  padding: 0px;
  border: 0px;
}

#topTracks {

  padding: 4.5rem 60px;
  display: block;
  box-sizing: border-box;
  margin-top: 5px;

  grid-column: grid-start / grid-end;

}

.main-headers {
  text-align: center;
}


.track-selector {
  z-index: 1;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 44px;
}

.single-track-list {
  display: grid;
  justify-content: center;
  grid-template-columns: [grid-start] repeat(3, minmax(14px, 44px)) [center-start] repeat(6, minmax(14px, 44px)) [center-end] repeat(3, minmax(14px, 44px)) [grid-end];
  gap: 40px 60px;
  color: inherit;
  width: 100%;
  align-items: center;
  grid-auto-rows: minmax(75px, auto);
  border-bottom: 0.15rem solid rgb(233, 233, 233);
  font-size: 1.5rem;
  transition: background-color 0.1s ease 0s;
}

.track-id {
  grid-column: span 1 / auto;
  font-size: 1.5rem;
  font-weight: 100;
  align-self: flex-start;
  margin-top: 20px;
  text-align: center;
}

.track-id img {
  height: 60px;
  width: 60px;
}

.track-title {
  grid-column: span 5 / auto;
  display: flex;
  align-items: center;
}

.track-artist {
  grid-column: span 3 / auto;
  font-weight: 100;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.track-likes {
  grid-column: span 3 / auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.not-found h3 {
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 0px;
  cursor: pointer;
  display: inline-block;
  font-family: Programme, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1;
  margin: 0px;
  text-align: center;
  padding: 0.75rem 1.313rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}