.lyrics {
    white-space: pre-line;
}

.header {
    background-image: linear-gradient(whitesmoke, grey);
    padding: 10px;
}


span {
    background-color: yellow;
}


.image-box{
    height:320px;
    width:320px;
}

img{
    height:320px;
    width:320px;
}

h1{
    text-align: left;
}



