.lyrics {
    white-space: pre-line;
}

.header {
    background-image: linear-gradient(whitesmoke, grey);
    padding: 10px;
}


.image-box{
    height:320px;
    width:320px;
}

.songPage{
    text-align: center;
}

