.lyrics {
    white-space: pre-line;
    text-align: left;
    margin-left: 50px;
}

h4 {
    margin-left: 50px;
}

.header {
    background-image: linear-gradient(whitesmoke, grey);
    padding: 10px;
    display:flex;
}


.annotated {
    background-color: yellow;
}


.image-box{
    height:320px;
    width:320px;
}

img{
    height:320px;
    width:320px;
}

#artist-info{
    margin-left: 20px;
}

h1{
    text-align: center;
}

.lyricAnnoCont {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.annotationsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.annotationsRight #annoCont {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}


.annotationsRight #annoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 300px;
    border: 1px solid black;
}

#deleteBtn {
    width: 300px;
}

#users-comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#single-comment {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
}

#comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    width: 400px;
    
}

.comment-delete {
    width: 400px;

}

#vote-buttons {
    display:flex;
    align-items: center;
    margin:10px;
}

#single-comment button {
    border: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 100;
    width: 30%;
    cursor: pointer;
    display: block;
    color: inherit;
}

#edit-delete-buttons {
    margin-top:20px;
    display: flex;
}