.allTracksContainer{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    flex-direction: column;
    align-items: center;
    
}

.trackImg{
    height: 60px;
    width: 60px;
}

ul{
    display:grid;
    grid-template-columns: 0.5fr 1fr 2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    width:100%;
    padding:0;

}

h1{
    text-align: center;
}